body {
    background-color: beige;
}

h1 {
    color: forestgreen;
}

h2 {
    color: forestgreen;
    background-color: azure;
}

h3 {
    color: darkgreen;
}

.texto-creme {
    color: cornflowerblue;
}

.fundo-darkcyan {
    color: darkcyan;
}
